*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #000;
}


.header{
    background-image: url('img/be.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

div nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    margin-right: 1em;
    
}

div nav ul li{
    width: 15%;
    list-style: none;
    font-size: 20px;
    margin-top: 2em;
    font-weight: bolder;
   
}

div nav ul li:hover{
    cursor: pointer;
    
}

.home{
    color: #7e0500;
    text-decoration: underline;
}

.logo{
    font-size: 3em;
    margin-right: 5em;
    margin-top: 0.5em;
}

.spa{
    font-size: 20px;
}

.sect{
   margin: 10em 0 0 9em;
}

.sect .heading{
    font-size: 32px;
    color: #000;
    font-weight: bold;
}

.sect p{
    margin-top: 1em;
    color: #000;
}

.sect button{
    margin-top: 2em;
    padding: 8px 25px;
    border-radius: 2em;
    border: none;
    font-size: 1rem;
    background-color: #ecc094;
    font-weight: bold;
    color: #000;
}

.sect button:hover{
    cursor: pointer;
    background-color: #f3c18b;
}

img{
    margin-left: 8em;
    margin-top: 2em;
    
}

@media all and (max-width: 600px){
    .header{
        float: left;
        margin: 0;
        background-size: contain;
        width: 100%;
        height: 100%;
    }

    .logo{
        margin: 0;
        margin-top: 0.5em;
        font-size: 1em;
    }

    .spa{
        font-size: 12px;
    }

    div nav ul li{
        width: 50%;
        list-style: none;
        font-size: 13px;
        margin-top: 0.5em;
        font-weight: normal;
        
    }

    .peta{
        margin-left: 1em;
    }

    .sect .heading{
        font-size: 20px;
        margin: -5em 0 0 -6em;
        width: 100%;
    }

    .sect p{
        font-size: 12px;
        margin: 0 0 0 -10em;
    }

    .sect button{
        margin: 1em 0 0 -8em;
    }

    body, html{
        margin: 0;
    }
}


main section p{
    margin: 2em 0 0 35.5em;
    font-size: 17px;
}

main section h2{
    margin: -11em 0 0 19em;
    font-size: 32px;
}

@media all and (max-width: 600px){
    main section{
        margin: 0;
        
    }

    main section p{
        margin: 1em 0 3em 2em;
        font-size: 15px;
        width: 80%;
    }

    main section h2{
        margin: 1em 0 0 1em;
        font-size: 22px;
    }

    main section img{
        margin: 0;
        padding-top: 2em;
    }
}


.puppies{
    background-color: #f4f6f8;
}

.puppies h2{
    padding-top: 2em; 
    font-size: 30px;
    margin-left: 25em; 
    width: 100%;
    
}

.cc{
    display: grid;
    gap: 3em;
    grid-template-columns: /* auto auto auto auto */ repeat(auto-fit, minmax(300px, 1fr)) ;
    width: 100%;
   /*  margin: 3em 2em 0 3em; */
  /*   padding: 20px; */
    margin-top: 8em;
    margin-left: -11.5em;
}

.container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    box-shadow: 5px 15px 20px -10px rgba(0, 0, 0, 0.79); 
    height: 450px;
 /*    margin: 1em 0 0 5em; */
    margin-top: 13em;
    margin-bottom: 5em;
}

.container img{
    margin: 0;

}

.pup{
    height: 300px;
}

.container .cat{
    margin-top: 1em;
    margin-left: 1em;
    height: 280px;
}

.container .dog{
    height: 265px;
    margin-top: 2em;
}

.container h3{
    margin: 1em 0 0 0;
    font-size: 23px;
    color: rgb(41, 38, 38);
    text-align: center;
}

.container button{
    margin: 1em 0 0 6em;
    padding: 10px 15px;
    border-radius: 1em;
    border: 3px solid gainsboro;
    width: 50%;
    background-color: #fff; 
    font-size: 15px;
    font-weight: bold;
    color: rgb(41, 38, 38);
}

.container button:hover{
     /* border: none; */
    background-color: rgb(240, 182, 161);
    cursor: pointer;
}

@media all and (max-width: 600px){
    .puppies{
        margin: 0;
        width: 100%;
        height: 50%;
    }
    .puppies h2{
        margin-left: 0;
    }

   .cc{
        margin: 0;
        padding: 0;
        margin-bottom: 0;
        width: 80%;
        margin-left: 2em;
      gap: 2em;
    }

    .container{
        margin: 0;
        height: 400px;
        margin-bottom: 2em;
    }

    .pup{
        height: 270px;
    }
    
    .container .cat{
        margin-top: 1em;
        margin-left: 1em;
        height: 250px;
    }
    
    .container .dog{
        height: 240px;
        margin-top: 2em;
        
    }
}

.shelter h2{
    text-align: center;
    font-size: 28px;
    margin-top: 3em;
    font-weight: bold;
}

.donate{
    margin-top: 5em;
    margin-left: 12em;
    width: 30%;
}

.donate p{
    color: rgb(41, 38, 38);
}

.donate h3{
    font-size: 23px;
    margin-bottom: 1em;
}

.donate button{
    margin-top: 2em;
    padding: 10px 18px;
    border: none;
    border-radius: 1em;
    font-size: 15px;
    background-color: #db744f;
    color: #fff;
}

.donate .don{
    color: #fff;
}

.donate button:hover{
    cursor: pointer;
    background-color: #d1663f;
}

.toy{
    float: right;
    font-size: 20px;
    margin: -13em 13em 0 0;
    display: flex;
}

.transport{
    float: right;
    font-size: 20px;
    margin: -5em 24em 0 0;
    display: flex;
}

.med{
    float: right;
    font-size: 20px;
    margin: -13em 26em 0 0;
    display: flex;
}

.area{
    float: right;
    font-size: 20px;
    margin: -5em 13em 0 0;
    display: flex;
   
}

.icons i{
    color: #d1663f;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

@media all and (max-width: 600px){
    .shelter h2{
        font-size: 25px;
    }

    .donate{
        width: 100%;
        float: left;
        margin: 0;
    }

    .icons section{
        width: 100%;
        float: left;
        margin: 0;
    }
}

.head{
    text-align: center;
    margin: 5em 0 2em 0;
    font-size: 25px;
    
}

.gallery{
    display: flex;
    margin-bottom: 3em;
}

.column {
    flex: 50%;

  }

.column img{
     width: 60%; 
    margin-top: 8px;
   vertical-align: middle; 
   /*  height: 100%; */
}

.col{
    margin-left: -15em;
}


