*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-image: url('be.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

div nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    margin-right: 1em;
    
}

div nav ul li{
    width: 15%;
    list-style: none;
    font-size: 20px;
    margin-top: 2em;
    font-weight: bolder;
   
}

div nav ul li:hover{
    cursor: pointer;
    
}

.home{
    color: #7e0500;
    text-decoration: underline;
}

.logo{
    font-size: 3em;
    margin-right: 5em;
    margin-top: 0.5em;
}

.spa{
    font-size: 20px;
}

.sect{
   margin: 10em 0 0 9em;
}

.sect p{
    margin-top: 1em;
}

.sect button{
    margin-top: 2em;
    padding: 8px 25px;
    border-radius: 2em;
    border: none;
    font-size: 1rem;
    background-color: #d9b287;
    font-weight: bold;
}

.sect button:hover{
    cursor: pointer;
    background-color: #e6c7a7;
}

img{
    margin-left: 8em;
    margin-top: 2em;
    
}



main section p{
    margin: 2em 0 0 35.5em;
    font-size: 17px;
}

main section h2{
    margin: -11em 0 0 20em;
    font-size: 30px;
}

.puppies{
    background-color: #f4f6f8;
}

.puppies h2{
    padding-top: 2em; 
    font-size: 30px;
    margin-left: 25em; 
    width: 100%;
    
}
.cc{
    display: grid;
    gap: 3em;
    grid-template-columns: /* auto auto auto auto */ repeat(auto-fit, minmax(300px, 1fr)) ;
    width: 100%;
   /*  margin: 3em 2em 0 3em; */
  /*   padding: 20px; */
    margin-top: 8em;
    margin-left: -11.5em;
}

.container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    box-shadow: 5px 15px 20px -10px rgba(0, 0, 0, 0.79); 
    height: 430px;
 /*    margin: 1em 0 0 5em; */
    margin-top: 13em;
   margin-bottom: 5em;
}

.container img{
    margin: 0;

}

.pup{
    height: 300px;
}

.container .cat{
    margin-top: 1em;
    margin-left: 1em;
    height: 280px;
}

.container .dog{
    height: 265px;
    margin-top: 2em;
}

.container h3{
    margin: 1em 0 0 0;
    font-size: 23px;
    color: rgb(41, 38, 38);
    text-align: center;
}

.container button{
    margin: 1em 0 0 6em;
    padding: 10px 15px;
    border-radius: 1em;
    border: 3px solid gainsboro;
    width: 50%;
   background-color: #fff; 
   font-size: 15px;
   font-weight: bold;
   color: rgb(41, 38, 38);
}

.container button:hover{
     /* border: none; */
    background-color: rgb(240, 182, 161);
    cursor: pointer;
}