*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-image: url('be.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

div nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    margin-right: 1em;
    
}

div nav ul li{
    width: 15%;
    list-style: none;
    font-size: 20px;
    margin-top: 2em;
    font-weight: bolder;
   
}

div nav ul li:hover{
    cursor: pointer;
    
}

.home{
    color: #7e0500;
    text-decoration: underline;
}

.logo{
    font-size: 3em;
    margin-right: 5em;
    margin-top: 0.5em;
}

.spa{
    font-size: 20px;
}

.sect{
   margin: 10em 0 0 9em;
}

.sect p{
    margin-top: 1em;
}

.sect button{
    margin-top: 2em;
    padding: 8px 25px;
    border-radius: 2em;
    border: none;
    font-size: 1rem;
    background-color: #d9b287;
    font-weight: bold;
}

.sect button:hover{
    cursor: pointer;
    background-color: #e6c7a7;
}

img{
    margin-left: 8em;
    margin-top: 2em;
    
}

main section p{
    margin: 2em 0 0 35.5em;
    font-size: 17px;
}

main section h2{
    margin: -11em 0 0 20em;
    font-size: 30px;
}